.entete {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

}

.entete p {
    font-size: 16px;
}

.modeedition {
    margin: 0 21px 0 9px;
    font-family: 'Work Sans';
    font-weight: 400;
}

#publier {
    padding: 11px 23px;
    color: black;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Work Sans';
    background-color: white;
    border-radius: 60px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 100px 0 50px 0;
}

#introduction img {
    margin-bottom: 15px;
}

.modifierbouton {
    font-size: 14px;
    font-weight: 400;
    display: flex;

    margin-left: 60px;
}

.modifierbouton p {
    margin-left: 8px;
}

#modifierboutonprojets {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

#portfolio h2 {
    margin-bottom: 0;
}

#modale {

    position: absolute;




}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: grey;
    opacity: 30%;
    z-index: 10;
}

.corpsmodale {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modale h3 {
    margin-top: 16px;
    margin-bottom: 46px;
    font-weight: 400;
    color: black;
    font-size: 26px
}

#fermermodale {
    margin-top: 32px;
    margin-right: 30px;
    cursor: pointer;
}

.iconefermer {
    display: flex;
    justify-content: flex-end;

}

#gallerymodale {
    margin-left: 105px;
    margin-right: 105px;
    padding-bottom: 47px;
    margin-bottom: 38px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 10px;
    border-bottom: 1px solid #B3B3B3;
}

#gallerymodale figure {
    cursor: pointer;
}

#ajouterphotobtn {
    padding: 10px 50px;
    margin-bottom: 23px;
    color: white;
    background-color: #1D6154;
    border-radius: 60px;
    font-family: "Syne";
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

#supprimerphotobtn {
    margin-bottom: 48px;
    cursor: pointer;
    color: #D65353;

}

.corpscompletmodale {
    position: relative;
    background-color: white;
    width: 630px;
    border-radius: 10px;
    z-index: 11;
}
.work {
    position: relative;
}
.work i {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 13;
    font-size: 9px;
    padding: 4px;
    color: white;
    background-color: black;
    border-radius: 2px;
}

.ajoutphotomodale {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ajouterphoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boutonretour {
    position: absolute;
    top: 30px;
    right: 590px;
    width: 21px;
}
#ajoutphotomodale {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.divimage {
    background-color: #E8F1F7;
    width: 420px;
    padding-bottom: 19px;
    padding-top: 28px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 36px 105px 30px 105px;
    border-radius: 3%;
    cursor: pointer;
}
#texteajouterunephoto {
    padding: 10px 33px;
    background-color: #CBD6DC;
    border-radius: 50px;
    margin-bottom: 7px;
    cursor: pointer;
}
.divtexte {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding-bottom: 26px;
    margin-bottom: 32px;
}
.divtexte label {
    margin-bottom: 10px;
}
.divtexte input {
    height: 51px;
    padding-left: 16px;
    margin-bottom: 21px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.divtexte select {
    border: none;
    height: 51px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding-left: 16px;
    cursor: pointer;
}
#ajoutvalider {
    width: 237px;
    padding: 10px 0;
    margin-bottom: 55px;
    background-color: #1D6154;
    border-radius: 60px;
    color: white;
    font-weight: 700;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

#ajouterimage {
    display: none;
}

#imagetaillemax {
    cursor: pointer;
}

#image-preview img{
    width: 129px;
}